@charset "UTF-8";
.article-list-main{width:100%;min-height:100%;background:#fff}
.article-list-body{width:100%;height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 2.2rem}
.article-item{position:relative;height:10rem;padding:2rem 0;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px #eee solid}
.article-item .list-icon{display:block;float:left;margin-right:.5rem;width:.5rem;height:1.7rem;background:#f66}
.article-item .data-icon{display:block;margin-right:.5rem;float:left;width:2rem;height:2rem}
.article-item .data-icon img{width:100%;height:100%}
.title-box{width:90%;float:right}
.article-list-title{height:4.5rem;font-size:1.5rem;line-height:2.5rem;color:#333;overflow:hidden;margin-top:-.25rem;margin-bottom:1rem}
.article-item time{color:#848689;font-size:1.2rem}
.article-item .delete-btn{position:absolute;right:0;bottom:.5rem;width:6.5rem;height:2.5rem;border:1px #ff9e31 solid;border-radius:50px;background:0 0;color:#ff9e31;line-height:2.5rem;font-size:1.2rem;text-align:center}
.article-main{width:100%;min-height:100%;padding:1.7rem 2.2rem;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box}
.article-title{text-align:center;font-size:2rem;color:#333;line-height:3rem;font-weight:400;margin-bottom:.5rem}
.article-info{color:#848689;text-align:center;font-size:1.2rem}
.article-info time{margin-right:2rem}
.article-text{margin-top:1.7rem}
.article-imgbox{width:100%;height:auto;margin-top:.5rem;overflow:hidden}
.article-imgbox img{width:100%}
.article-text h2{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:1rem;padding-left:1.7rem;color:#00a0e9;border-left:.7rem #f66 solid;line-height:1.5rem;font-weight:400;font-size:1.5rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.article-text h3{color:#848689;font-weight:400;font-size:1.2rem;text-indent:2.5rem;margin-bottom:.5rem}
.article-text p{color:#333;font-size:1.5rem;text-indent:2em;line-height:2.5rem}
body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul{margin:0;padding:0}
body{font-size:12px;background:#fff;-webkit-text-size-adjust:100%}
a{color:#2d374b;text-decoration:none}
a:hover{text-decoration:none}
em{font-style:normal}
li,ul{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
body,html{height:100%;font-size:62.5%;font-family:Arial,'Microsoft YaHei';-webkit-tap-highlight-color:transparent}
body{max-width:640px;min-width:320px;margin:0 auto;position:relative;line-height:1}
button,input,select,textarea{font-family:arial,"Microsoft YaHei";-webkit-appearance:none}
[v-cloak]{display:none}
.floatl{float:left}
.floatr{float:right}
.text-l{text-align:left}
.text-r{text-align:right}
.text-m{text-align:center}
.pst-btm{position:absolute;bottom:0}
.bl-bg{width:100%;height:100%;background-color:#1d6edd;background-image:-webkit-linear-gradient(top,#00a0e9,#1d6edd);padding-top:20%;-webkit-box-sizing:border-box;box-sizing:border-box}
.bl-bg2{width:100%;height:calc(100% - 4.4rem);background:#00a0e9;-webkit-box-sizing:border-box;box-sizing:border-box;padding-top:12%}
.main-cantainer{width:100%;height:100%;background:#eee;margin:0 auto;font-size:1.6rem;overflow:auto;position:relative;-webkit-overflow-scrolling:touch}
.navfixr:after{content:'';display:block;height:7rem}
.form-title{position:relative;width:100%;height:4.4rem;line-height:4.4rem;text-align:center;background:#00a0e9;color:#fff}
.backBasic-btn{position:absolute;left:1rem;color:#fff}
.backBasic-btn img{width:3rem;height:3rem}
.top-more-btn{position:absolute;right:1rem;color:#fff}
.top-more-btn img{width:3rem;height:3rem}
.success-btn{background:#00a0e9}
.success-btn:active{background:#007db6}
.cancel-btn{background:#f66}
.cancel-btn:active{background:#eb5050}
.clearfix{zoom:1}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.index-header{width:100%;height:auto}
#vue_main{height:100%}
.page-title{position:relative;width:100%;height:4.4rem;line-height:4.4rem;color:#fff;background:#00a0e9;padding:0 1.5rem;-webkit-box-sizing:border-box;box-sizing:border-box}
.add-icon{color:#fff;font-size:2.5rem}
.page-title .top-btn{display:inline-block;width:5rem;height:2rem;font-size:1.2rem;color:#fff;border-radius:2.5rem;border:1px #fff solid;background:0 0}
.index-type-list{display:inline-block;margin-left:1rem}
.index-type-list li{display:inline-block;margin-right:.75rem;font-size:1.5rem}
.index-type-list li a{display:inline-block;font-size:1.5rem;color:#fff;text-decoration:none}
.index-nav{position:fixed;bottom:0;width:100%;min-width:320px;max-width:640px;height:6rem;border-top:1px #eee solid;background:#fff;-webkit-text-size-adjust:none;font-size:0}
.index-nav ul li{display:inline-block;width:33%;padding-top:1rem;text-align:center;height:100%}
.index-nav ul li img{width:3rem;height:auto}
.index-nav ul li p{font-size:1.2rem;color:#00a0e9}
.marquee{display:inline-block;width:100%;-webkit-animation:scrollText 10s infinite;animation:scrollText 10s infinite}
@-webkit-keyframes scrollText{0%{-webkit-transform:translateX(0)}
100%{-webkit-transform:translateX(-500px)}
}
@keyframes scrollText{0%{-webkit-transform:translateX(0)}
100%{-webkit-transform:translateX(-500px)}
}
.meet-list-main{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;min-height:20%;padding:0 1.5rem;background:#fff}
.meet-list{width:100%;height:auto;padding-bottom:1.5rem}
.meet-list li{width:100%;height:6.5rem;border-bottom:1px #eee solid;padding:1.75rem 0}
.meet-item{position:relative}
.meet-item .left{float:left;width:30%;min-width:8.5rem;height:100%;overflow:hidden}
.meet-item .left img{width:auto;height:100%}
.meet-item .right{width:60%;padding-left:.75rem;float:left}
.meet-item .meet-name{height:5.25rem;font-size:1.5rem;color:#333}
.meet-item .right time{font-size:12px;color:#848689}
.meet-item .deleteItem{position:absolute;right:0;bottom:1rem;width:6rem;height:3rem;border-radius:50px;background:#ffae2e;color:#fff;line-height:3rem;font-size:1.2rem;text-align:center}
.modal-bg{width:100%;height:100%;background:#000;opacity:.8;position:fixed;z-index:998;left:0;right:0;top:0;bottom:0}
.modal-main{position:absolute;top:0;width:100%;z-index:998;height:100%}
.modal-contant{max-width:26rem;width:69%;height:25%;background:#fff;position:fixed;left:0;right:0;top:35%;z-index:999;margin:auto;border-radius:10px}
.modal-body{width:100%;height:63%;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px #eee solid}
.modal-body p.txt{font-size:1.5rem;color:#333;padding:3rem 0}
.modal-footer{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:37%}
.modal-footer button{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;background:#fff;height:100%;border:none;outline:0;font-size:1.5rem}
.modal-footer button.yes{border-right:1px #eee solid;color:#00a0e9;border-radius:0 0 0 10px}
.modal-footer button.no{color:#717171;border-radius:0 0 10px 0}
.float-btn-box{position:relative}
.float-btn{display:block;position:fixed;right:2.2rem;bottom:6rem;width:5rem;height:5rem;border-radius:50px;background:#ffa53a;z-index:1}
.float-btn img{width:100%}
.float-menu-box{position:absolute;right:2.2rem;bottom:11.5rem}
.float-menu{display:block;width:10.5rem;font-size:1.2rem;text-align:center;line-height:3.5rem;height:3.5rem;background:#fdedd9;color:#f87e17;margin:.75rem 0;border-radius:5rem}
.meetRoom-type-btn{display:block;width:17.5rem;height:17.5rem;margin:0 auto;padding:1rem;color:#fff;font-size:2rem;padding-top:14%;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;background:url(img/conference_hall_btn_normal.png) center center no-repeat;-webkit-background-size:cover;background-size:cover}
.meetRoom-type-btn img{width:40%}
.meetRoom-type-btn:active{background:url(img/conference_hall_btn_pressed.png) center center no-repeat;-webkit-background-size:cover;background-size:cover}
.form-main{width:100%;height:100%;background:#eee;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.form-group{position:relative;width:100%;height:5.5rem;border-bottom:1px #eee solid;background:#fff;padding:0 2.2rem;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:5.5rem}
.form-group .input-icon{width:3rem;margin-right:.2rem}
.form-group .input-icon img{width:100%}
.form-group label{position:relative;height:100%;font-size:1.5rem;color:#333}
.form-input{width:60%;height:100%;font-size:1.5rem;text-align:right;border:none;background:#fff;outline:0;color:#00a0e9;position:relative;-webkit-tap-highlight-color:transparent;padding-right:.5rem}
.form-btn{width:82%;height:4rem;font-size:1.7rem;color:#fff;border:none;border-radius:.5rem;outline:0}
.input-btn{height:3rem;font-size:1.7rem;color:#fff;border:none;border-radius:.5rem;outline:0;font-size:1.2rem}
.getCode{position:absolute;left:25%;top:30%}
select.form-input{-moz-appearance:none;appearance:none;position:relative;color:#00a0e9;-webkit-appearance:none;direction:rtl}
.arrowImg{position:absolute;right:1rem}
.arrowImg img{width:1.1rem}
.deletImg{position:absolute;width:3rem;right:1rem}
.deletImg img{width:100%}
.form-hr{width:100%;height:1rem;background:#eee;border:none;margin:0;padding:0}
.form-text{font-size:1.5rem;color:#00a0e9;padding-right:.5rem}
.meet-group{height:auto;padding:1rem 2.2rem;line-height:normal}
.sign-up-btn{width:100%;height:5.5rem;background:#f66;font-size:1.7rem;color:#fff;border:none}
.sign-up-btn:active{background:#dc3239}
.submeet-name{font-size:1.5rem;margin-bottom:2rem}
.submeet-info{height:3rem;line-height:3rem}
.checkbox-item,.time-item{height:100%;line-height:100%}
.time-item time{color:#00a0e9}
.checkbox-item{padding-top:.7rem}
.checkbox-item input{width:1.5rem;height:1.5rem;margin-left:3rem}
.submeet-info img{height:100%;width:auto}
.btn-box{width:100%;text-align:center;margin-top:3rem}
.form-textarea{position:relative;width:85.33333%;margin:2rem auto}
.form-textarea textarea{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;height:19rem;font-size:1.5rem;border:1px #d3d3d3 solid;border-radius:5px;padding:1rem;resize:none;-webkit-box-shadow:none;box-shadow:none;outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.textarea_counter{position:absolute;color:#bfbfbf;font-size:1.2rem;bottom:.5rem;right:.5rem}
.fileUpload{position:relative}
.fileUpload input[type=file]{position:absolute;right:0;z-index:2;opacity:0}
.fileUpload i{position:absolute;width:8.5rem;height:6.5rem;background-color:#e6f3f9;right:5%;top:9%;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;background-image:url(img/upload.png);background-repeat:no-repeat;background-position:center center;z-index:1}
.fileUpload i img{width:100%;height:auto}
.editormain{width:100%;min-height:30rem;background:#fff;margin-top:1rem;margin-bottom:3.5rem;padding:0 2.2rem;-webkit-box-sizing:border-box;box-sizing:border-box}
.editor-btnBox{width:100%;height:5.5rem;line-height:5.5rem;border-bottom:1px #eee solid}
.editor-btnBox span{position:relative;display:block;height:100%;width:3rem;overflow:hidden}
.editor-btnBox span img{width:100%}
.editor-body{width:100%;font-size:1.5rem!important;padding:1rem 0;line-height:2rem;min-height:20rem}
.filebtn{height:5.5rem;opacity:0;position:absolute;top:0;left:0}
.form-txtarea{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;min-height:20rem;border:none;font-size:1.5rem;padding:1rem 0;resize:none;-webkit-box-shadow:none;box-shadow:none;outline:0}
.bottomimg-btn{width:100%;height:5.5rem;background:#fff;font-size:1.7rem;outline:0;border:none;color:#606060}
.bottomimg-btn img{width:3.5rem;height:3.5rem}
.link-network-main{width:100%;height:100%;padding-top:6rem;-webkit-box-sizing:border-box;box-sizing:border-box;background:#fff}
.link-input{width:55%;height:3.5rem;padding:0 1rem;border:1px #eee solid;border-radius:10rem;outline:0;-webkit-box-shadow:none;box-shadow:none;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:1.4rem}
.link-btn{height:3.5rem;border:none;-webkit-box-shadow:none;box-shadow:none;border-radius:10rem;padding:0 2rem;margin-left:.5rem;background:#00a0e9;color:#fff;font-size:1.4rem}
.link-network-main .imgBox{display:block;width:13.5rem;height:13.5rem;margin:0 auto}
.link-network-main .imgBox img{width:100%;height:auto}
.link-network-main .link{color:#00a0e9;text-align:center;line-height:2rem;font-size:1.5rem;margin-top:3rem}
.link-network-main .info{color:#6e6e6e;margin:3rem 0;text-align:center}
.link-network-main .btn{display:block;width:16.5rem;height:4.5rem;margin:3rem auto;background:#f66;color:#fff;line-height:4.5rem;text-align:center;border-radius:5rem}
.meet-info-list{width:auto;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;min-height:100%;background:#fff;padding:1.5rem 1%}
.meet-info-main{display:inline-block;overflow:hidden}
.meet-info-list .item{text-align:center;width:19%;margin-left:3%;margin-right:3%;margin-bottom:5.3%;height:auto;float:left}
.meet-info-list .item a{width:100%;height:auto}
.meet-info-list .item img{width:100%;height:auto}
.meet-info-list .item p{margin-top:1rem;font-size:1.3rem;color:#848689;text-align:center}
.article-content{padding:.5rem 0;color:#bfbfbf;font-size:1.5rem}
.mtrm-idx-d1{width:100%;height:9rem;padding:1.25rem 2.3rem;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#1d6edd;background-image:-webkit-linear-gradient(top,#00a0e9,#1d6edd)}
.mtrm-idx-hd{color:#fff}
.user-info-box{margin-left:2rem;padding:1.25rem 0;font-size:1.5rem}
.user-info-box .user-name{text-indent:.5rem}
.user-info-box .user-fans{margin-top:.5rem;font-size:1.2rem}
.user-info-box .user-fans img{width:3rem;height:3rem}
.mtrm-idx-d1 .user-img{width:6.5rem;height:6.5rem;border-radius:5px;border:.15rem #fff solid;overflow:hidden}
.mtrm-idx-d1 .user-img img{width:100%;height:100%}
.mtrm-idx-d2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;height:6rem;background:#fff;padding:.5rem 0;-webkit-box-sizing:border-box;box-sizing:border-box}
.mtrm-idx-d2 .mtrm-btn{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.mtrm-btn i{display:block;width:3rem;height:3rem;overflow:hidden;margin:0 auto;text-align:center;margin-bottom:.5rem}
.mtrm-btn i img{width:100%}
.mtrm-btn p{color:#949fa4;font-size:1.2rem;text-align:center}
.mtrm-idx-d2 .mtrm-btn:nth-child(1){border-right:1px #eee solid}
.focus-btn{position:absolute;right:0;bottom:1rem;width:6.5rem;height:2.5rem;border:1px #ff9e31 solid;border-radius:50px;background:0 0;color:#ff9e31;line-height:2.5rem;font-size:1.2rem;text-align:center}
.disfocus-btn{position:absolute;right:0;bottom:1rem;width:6.5rem;height:2.5rem;border:1px #bfbfbf solid;border-radius:50px;background:0 0;color:#bfbfbf;line-height:2.5rem;font-size:1.2rem;text-align:center}
.message-roll{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;white-space:nowrap;overflow:hidden;height:4rem;line-height:4rem;color:#00a0e9;font-size:1.3rem;background:#fff;padding-left:5%;padding-right:5%;margin-bottom:1rem}
.message-icon{float:left;width:11%}
.message-roll img{width:2.8rem;height:auto}
.message-roll p{width:89%;float:left;overflow:hidden}
.meetRoom-userInfo{width:100%;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 1rem}
.meetRoom-userInfo .user-info{width:100%;padding:1rem 0;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px #eee solid}
.meetRoom-userInfo .user-info .user-img{width:6.5rem;height:6.5rem;border-radius:5px;overflow:hidden}
.user-info .user-img img{width:100%}
.user-info .user-name{width:35%;padding-top:2.5rem;height:100%;font-size:1.5rem;color:#333;margin-left:1.2rem;-webkit-box-sizing:border-box;box-sizing:border-box}
.user-info .cutMeetroom{padding:0 1rem;height:3rem;margin-top:1.7rem;border-radius:100px;color:#fff;border:none;background:#3bd610}
.userData{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.userData .fans,.userData .visit{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding:1rem;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:1.3rem}
.userData .fans{border-right:1px #eee solid}
.userData .data-num{color:#00a0e9}
.userData .data-title{color:#949fa4;height:2.5rem;line-height:2.5rem}
.userData .data-title img{width:2.5rem;height:auto;margin-right:.5rem}
.creatMeet-btn{display:block;width:88%;margin:1rem auto;background-color:#00a0e9;color:#fff;text-align:center;padding:1rem;border-radius:.5rem;font-size:1.6rem;line-height:2.5rem}
.meetRoom-menu{width:100%;background-color:#fff;overflow:hidden}
.meetRoom-menu a{display:block;width:33%;text-align:center;color:#949fa4;float:left;margin:1rem 0;font-size:1.3rem;color:#848689}
.meetRoom-menu i{margin:0 auto;width:4.5rem;height:4.5rem;display:block;padding:.5rem}
.meetRoom-menu i img{width:100%;height:100%}
.index-banner{width:100%;height:auto;overflow:hidden}
.index-banner img{width:100%;height:auto}
.index-tab{width:100%;height:5rem;font-size:0;background:#fff;border-bottom:1px #eee solid;-webkit-text-size-adjust:none}
.index-tab button{width:50%;height:100%;line-height:5rem;font-size:1.5rem;color:#00a0e9;border:none;background:0 0;outline:0}
.index-tab button:last-child{border-left:1px #eee solid}
.index-tab button img{width:4rem;height:auto}
.index-tab .active{border-bottom:.5rem #00a0e9 solid}
.mtrmcod-main{width:88%;height:auto;background:#fff;border-radius:5px;margin:0 auto;padding:12% 0}
.mtrmcod-main .code-body{width:22.5rem;height:auto;margin:0 auto}
.codeBox{display:block;padding:1rem;width:22.5rem;height:22.5rem;-webkit-box-sizing:border-box;box-sizing:border-box;background:url(img/check_code_decorationx.png) no-repeat;-webkit-background-size:cover;background-size:cover}
.code-body p{margin-top:2.5rem;font-size:1.2rem;line-height:2.4rem;color:#848689;text-align:center}
.codeBox img{width:100%;height:auto}
.mtrm-infolist{margin:0;padding:0;border:none}
.mtrm-chlistmain{margin-top:1rem}
.mtrm-chlist-hd{width:100%;height:5.5rem;border-bottom:1px #eee solid}
.mtrm-chlist-hd i{display:block;width:3rem;height:3rem;padding:1.25rem 0;margin-right:1.2rem}
.mtrm-chlist-hd p{display:block;height:3rem;line-height:3rem;font-size:1.2rem;color:#848689;padding:1.25rem 0;margin-right:1.2rem}
.mtrm-chlist-hd i img{width:100%;height:100%}
.mine-header{width:100%;height:23rem;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#28c9d7;background-image:-webkit-linear-gradient(top,#00a0e9,#28c9d7);padding-top:4.4rem}
.mine-header .mine-icon{width:10.5rem;height:10.5rem;margin:0 auto;border-radius:.5rem;border:.5rem #fff solid;overflow:hidden}
.mine-header .mine-icon img{width:100%;height:auto}
.mine-header .mine-nickname{font-size:2rem;color:#fff;width:100%;text-align:center;margin-top:2rem}
.mine-menu-list .input-icon{margin-right:2rem}
.no-meetRoom{padding-top:8.5rem;width:100%;height:100%;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box}
.no-meetRoom i{display:block;width:11rem;height:11rem;text-align:center;margin:0 auto}
.no-meetRoom i img{width:100%;height:100%}
.no-meetRoom p{text-align:center;font-size:1.5rem;color:#848689;margin:2rem 0 2.8rem}
.no-meetRoom .creatBtn{display:block;margin:0 auto;width:16rem;height:4.5rem;text-align:center;border-radius:5px;line-height:4.5rem;background:#f66;color:#fff}
.details-mian{width:100%;height:100%}
.sl-btn-list{margin-top:5rem}
.sl-btn-list a{display:block;margin:0 auto;width:25rem;height:7rem;border-radius:5rem;line-height:7rem;margin-bottom:3.5rem;font-size:1.8rem}
.sl-btn-list a.wt-btn{background:#fff;color:#00a0e9}
.sl-btn-list a.ts-btn{background:rgba(255,255,255,.2);color:#fff}
.sl-btn-list a span{display:inline-block;width:4rem;height:4rem;margin:0 1.7rem 0 2.5rem}
.sl-btn-list a span img{width:100%;height:auto}
.successImg{width:11.2rem;height:11.2rem;margin:0 auto;margin-bottom:2rem}
.success-main{width:100%;height:100%;background:#fff;padding-top:20%;-webkit-box-sizing:border-box;box-sizing:border-box}
.successImg img{width:100%;height:auto}
.success-main{text-align:center}
.success-main p{font-size:2.4rem;color:#ff9e31;text-align:center;margin-bottom:5rem}
.success-main a,.success-main button{display:block;width:15rem;height:4.4rem;line-height:4.4rem;text-align:center;font-size:1.5rem;color:#fff;border:none;border-radius:.5rem;outline:0;margin:0 auto}
.search-bar{position:relative;width:100%;height:7rem;-webkit-box-sizing:border-box;box-sizing:border-box}
.search-body{width:100%;text-align:center;height:3.5rem;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto}
.searchBox{position:relative;float:left;width:70%;height:3.5rem;background:#fff;border-radius:.5rem;margin:0 1rem 0 2rem}
.searchBox i{display:block;position:absolute;top:.8rem;width:2rem;height:2rem}
.searchBox i.search{left:.8rem}
.searchBox i.delete{right:.8rem}
.searchBox i img{width:100%;height:100%}
.search-input{background:#fff;border-radius:.5rem;outline:0;font-size:1.2rem;text-indent:3rem;width:100%;height:100%;border:none;margin:0;padding:0}
.search-btn{width:5.5rem;height:3.5rem;float:left;border-radius:.5rem;outline:0;border:none;font-size:1.3rem;background:#00a0e9;color:#fff}
.user-list{background:#fff;min-height:10rem;padding:0 2.2rem 2rem}
.user-list .userinfo-box{width:80%}
.user-list .user-item{position:relative;height:7rem;border-bottom:1px #eee solid}
.user-item .arrowImg{right:0}
.user-item{padding:1.5rem 0;-webkit-box-sizing:border-box;box-sizing:border-box}
.user-item .user-name{font-size:1.5rem;color:#333;padding-left:.3rem;margin-bottom:1.1rem}
.user-item .user-info{font-size:1.2rem}
.user-item .user-info i{display:inline-block;width:2rem;height:2rem}
.user-item .user-info i img{width:100%}
.user-item .arrowImg{top:3rem}